*{
	box-sizing: border-box;
	margin: auto;
}

input[type=checkbox] {
	zoom: 1.5;
	padding: 2px;
}

input[type=number] {
	padding: 2px;
}

.column {
	font-size: 2vw;
	padding: 5px;
}

.outerContainer {
	width: 100%;
	content: "";
	display: table;
	text-align: center;
}

#dateName {
	font-size: 5vw;
}

#datePrice {
	font-size: 3vw;
}

#dateDescription{
	font-size: 2vw;
}

#locationName{
	font-size: 2vw;
}

#googleMap {

}
