html{
	font-size: 25px;
	background-color: #66CAD8;
}


h2{
	padding: 2px;
	color: #db8b00;
}

input[type=checkbox] {
	zoom: 2;
	padding: 5px;
}

input[type=number] {
	zoom: 2;
	padding: 5px;
}

input[type=submit] {
	zoom: 3;
}

span {
	display: inline;
	width: 50%;
}

.column {
	width: 75%;
	display: block;
	font-size: 1.5em;
	padding: 5px;
}

@media only screen and (min-width: 768px) {
	*{
		box-sizing: border-box;
		margin: auto;
	}
	.column {
		width: 50%;
		display: inline-table;
		font-size: 1.5em;
	}
}

.outerContainer {
	width: 100%;
	content: "";
	display: table;
	text-align: center;
}

#dateName {
	font-size: 3em;
}

#datePrice {
	font-size: 1em;
}

